html {
  box-sizing: border-box; 
}

*, *:before, *:after {
  box-sizing: inherit; 
}

html, body, div, select {
  padding: 0;
  margin: 0; 
}

body {
  background-color: #222426; 
  color: whitesmoke;
  max-width: 750px;
  border-style: none solid;
  border-width: 2px;
  border-color: black;
  margin: 0 auto;
  min-height: 100vh;
  font-family: 'Source Sans Pro', sans-serif;
}

body, input, textarea, button {
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
}

button {
  border: 1px solid black;
  margin: 5px 0;
  background: whitesmoke;
}

pre {
  display: block;
  padding: 5px 10px;
  background: black;
  overflow: auto;
  will-change: transform;
}

code {
  font-size: 85%;
  display: inline;
  background: black;
  font-family: 'Source Code Pro', monospace;
}

code::before, code::after {
  content: "\00a0";
}

pre code::before, pre code::after {
  content: normal;
}

a, a:active, a:visited, a:focus {
  color: hotpink;
  text-decoration: none;
}

h1, h2, h3, h4, h5 {
  margin: 5px 0 0 0;
}

p {
  margin-top: 0;
}

textarea, input {
  padding: 3px 6px;
  background: #404246;
  border: none;
  color: whitesmoke;
}
textarea:focus, input:focus {
  outline: solid 1px hotpink;
}

#blog-cont {
  display: flex; 
  flex-direction: column;
  flex-shrink: 0;
}

#blog-head {
  font-family: 'Quicksand', sans-serif;
  font-size: 36px;
  text-align: center;
  padding: 20px 40px;
  background: rgba(0,0,0,0.4);
}

#blog-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: rgba(0,0,0,0.4);
  padding: 10px;
}

.blog-menu-item {
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  font-weight: bold;
}

.blog-body, .blog-error {
  padding: 40px;
}

.blog-post {
  text-align: justify;
  margin-bottom: 40px;
}

.blog-post:last-of-type {
  margin: 0;
}

.blog-post-date {
  font-family: 'Quicksand', sans-serif;
  font-size: 75%;
}

.blog-post-date::before {
  content: "Posted on "
}

.newpost-title, .newpost-content  {
  width: 100%;
}

.newpost-content {
  height: 30vh;
  margin: 5px 0;
}

.form-error {
  margin-left: 10px;
  color: hotpink;
  font-weight: bold;
}

SVG {
  background: white;
  margin-bottom: 5px;
}