<!DOCTYPE html>
<html lang="en" data-ng-app="colonApp" ng-strict-di>
<head>
  <!-- Browser set up -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes, minimal-ui">
  <meta name="theme-color" content="#000" />
  <link rel="icon" href="favicon.ico" type="image/icon">
  <title>underscore . space</title>

  <!-- Styles -->
  <link href="style.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Quicksand|Source+Code+Pro:400,700|Source+Sans+Pro:400,700" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.9.1/styles/sunburst.min.css" rel="stylesheet" type="text/css">
</head>

<body data-ng-controller="blogController as blog">
  <div id="blog-cont">
    <div id="blog-head">underscore . space</div> 
    <div id="blog-menu">
      <a href="#!/about" class="blog-menu-item">About</a>
      <a href="#!/home" class="blog-menu-item">Home</a>
      <a href="#!/new" class="blog-menu-item" data-ng-show="blog.loggedin">New</a>
      <a href="#!/login" class="blog-menu-item" data-ng-show="!blog.loggedin">Log in</a>
      <a href="#!/logout" class="blog-menu-item" data-ng-show="blog.loggedin">Log out</a>
    </div>
    <div class="blog-error" data-ng-show="error" data-ng-bind="error"></div>
    <div class="blog-body" data-ng-view></div>
  </div>

  <script src="lib/angular.min.js"></script>
  <script src="lib/angular-cookies.min.js"></script>
  <script src="lib/angular-route.min.js"></script>
  <script src="lib/angular-sanitize.min.js"></script>
  <script src="lib/showdown.min.js"></script>
  <script src="lib/highlight.pack.min.js"></script>
  <script src="lib/ng-showdown.min.js"></script>
  <script src="app.min.js"></script>
</body>
</html>