@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
@import url(https://fonts.googleapis.com/css?family=Quicksand);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css);

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

html, body, div, select {
  padding: 0;
  margin: 0; }

body {
  background-color: #222426; 
  color: whitesmoke;
  margin: 0 30px;}

body, input, code, textarea {
  -webkit-font-smoothing: antialiased;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
}

pre {
  display: block;
  whitespace: pre;
  color: black;
  padding: 5px 10px;
/*   border: 2px silver solid; */
  background: #f6f8fa;
  overflow: auto;
}

code {
  font-size: 85%;
  display: inline;
  background: #f6f8fa;
  color: black;
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

code::before, code::after {
  content: "\00a0";
}

pre code::before, pre code::after {
  content: "";
}

a, a:active, a:visited {
  color: hotpink;
  text-decoration: none;
}

a:hover {
  color: springgreen;
}

h2 {
  margin: 5px 0 0 0;
}

p {
  margin-top: 0;
}

button {
  line-height: 1em;
}

textarea, input {
  padding: 3px 6px;
  background: #404246;
  border: none;
  color: whitesmoke;
}
textarea:focus, input:focus {
  outline: solid 1px hotpink;
}

.part {
 margin: 3px 3px 0 3px;
 padding: 5px 20px;
}

#blog-frame {
  display: flex; 
  flex-direction: column;
  flex-shrink: 0;
}

#blog-header {
 font-family: 'Quicksand', sans-serif;
 font-size: 36px;
 text-align: center;
 padding: 20px 10px;
}

#blog-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.blog-menu-item {
  width: 33%;
  text-align: center;
}

.blog-post {
  text-align: justify;
  margin-bottom: 5px;
}

.blog-post-date {
  font-family: 'Quicksand', sans-serif;
  font-size: 75%;
}

.blog-post-date::before {
  content: "Posted on "
}

.newpost-title, .newpost-content  {
  width: 100%;
}

.newpost-content {
 height: 30%;
 margin: 5px 0;
}

SVG {
  background: white;
  margin-bottom: 5px;
}