@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
@import url(https://fonts.googleapis.com/css?family=Quicksand);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css);

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

html, body, div, select {
  padding: 0;
  margin: 0; }

body {
  background-color: #222426; 
  color: whitesmoke;
  margin: 0 10px;}

body, input, code {
  -webkit-font-smoothing: antialiased;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
}

code {
  display: block;
  color: black;
  padding: 5px;
  font-size: 90%;
  border: 2px silver solid;
  background: whitesmoke;
}

a, a:active, a:visited {
  color: springgreen;
  text-decoration: none;
}

a:hover {
  color: hotpink;
}

h2 {
  margin: 5px 0 0 0;
}

p {
  margin-top: 0;
}

label {
  padding-right: 10px;
}

.part {
 margin: 3px 3px 0 3px;
 padding: 5px 20px;
}

#blog-frame {
  display: flex; 
  flex-direction: column;
  flex-shrink: 0;
}

#blog-header {
 font-family: 'Quicksand', sans-serif;
 font-size: 36px;
 text-align: center;
 padding: 20px 10px;
}

#blog-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.blog-menu-item {
  width: 33%;
  text-align: center;
}

.blog-post {
  text-align: justify;
  margin-bottom: 5px;
}

.blog-post-footer {
  font-family: 'Quicksand', sans-serif;
  margin-bottom: 5px;
}

.newpost-title, .newpost-content  {
  width: 100%;
}
 .newpost-content {
   height: 30%;
   margin: 5px 0;
 }

SVG {
  background: white;
  margin-bottom: 5px;
}