<div class="part">
  <p data-ng-show="message" data-ng-bind="message"></p>
  <div data-ng-show="step==1">
    <label>Enter setup code</label>
    <input type="text" data-ng-model="setupCode">
    <button data-ng-click="getQR()">Submit</button>
  </div>
  
  <div data-ng-show="step==2">
    <div class="qr" data-ng-bind-html="qr"></div>
    <label>Enter Next Code</label>
    <input type="text" data-ng-model="gaCode">
    <button data-ng-click="verify()">Submit</button>
  </div>
  
  <div data-ng-show="step==3">
    <h1>Success!</h1>
    <p>You're now registered and can start blogging</p>
  </div>
</div>