<div class="blog-post">
  <base target="_new">
  <h1>About Me</h1>
  <p>
    <h3><a href="//twitter.com/_dotspace">_DotSpace</a> on Twitter</h3> Likes: Coffee (the real gourmet shit), coding (JavaScript, Go, VBA 👀) and my cat Neeko. Dislikes: Getting out of the shower.<br>
  </p>
  <h3>IRL/Meatspace</h3>
  <p>
    I live in Central Scotland with my girlfriend and our cat Neeko. Currently working for a bank in operations, but my passion is coding. 
  </p>
  <h3>Hire Me!</h3>
  <p>
    I'm keen to find my first role in software development, ideally working with JavaScript front or back end - or both! 
  </p>
  <p>
    Please check out my <a href="//github.com/underscoredotspace">Github</a> and my <a href="//stackoverflow.com/users/story/5487137">Stack Overflow developer story</a> for more info. 
  </p>
</div>