<div>
  <div class="blog-post part" data-ng-repeat="blogpost in vm.blogposts | orderBy:'-_id'">
    <h1>{{blogpost.title}}</h1>
    <div data-markdown-to-html="blogpost.content"></div>
    <div class="blog-post-date">
      <a href="#" data-ng-href="/#!/post/{{blogpost._id}}">{{blogpost.date|date:'d MMMM y'}}</a>
    </div>
    <div data-ng-hide="!blog.loggedin">
      <button type="submit" data-ng-click="vm.postEdit(blogpost._id)">Edit</button>
      <button type="submit" data-ng-click="vm.postDelete(blogpost._id)">Delete</button>
    </div>
  </div>
  <div id="blog-pages" data-ng-show="vm.prev||vm.next">
    <a id="blog-page-prev" data-ng-show="vm.prev" data-ng-href="/#!/home/{{vm.prev}}">Previous</a>
    <div>&nbsp;</div>
    <a id="blog-page-next" data-ng-show="vm.next" data-ng-href="/#!/home/{{vm.next}}">Next</a>
  </div>
</div>